@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.screen {
  display: flex;
  position: relative;
  max-width: 1900px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}
@media (max-width: 1500px) {
  .screen {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.main {
  margin: 20px 50px 0;
}
.main--content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1500px) {
  .main--content {
    display: block;
  }
}
.main--container {
  width: 100%;
  margin: 20px 50px 20px;
}
@media (max-width: 1800px) {
  .main {
    margin: 20px 20px 0;
  }
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: #fff;
  list-style-type: none;
  background: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  background: #171717;
}

button {
  cursor: pointer;
  text-align: center;
}

section {
  margin: 40px 0;
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 44px;
}

h2 {
  font-weight: 700;
  font-size: 34px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

.sidebar {
  display: block;
  width: 288px;
  height: 100%;
  background: #272727;
  border-right: 2px solid #959d99;
  overflow: hidden;
  padding: 20px;
}
@media (max-width: 1700px) {
  .sidebar {
    width: 50px;
    padding: 10px 5px;
  }
}
@media (max-width: 1500px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;
  }
}

.sidebar_header {
  margin-bottom: 50px;
}

.logo_header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.logo_header p {
  margin-left: 20px;
  font-weight: bold;
  font-size: 30px;
}
@media (max-width: 1700px) {
  .logo_header p {
    display: none;
  }
}

.logo_item {
  width: 40px;
  height: 40px;
}

.menu_item {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 15px 10px;
  border-radius: 5px;
  transition: background 0.4s;
}
@media (max-width: 1700px) {
  .menu_item {
    width: 40px;
    padding: 0;
  }
}
.menu_item:hover {
  background: #f3777d;
}
.menu_item--avtive {
  background: #ee4950;
}
.menu_item--avtive:hover {
  background: #ee4950;
}

.menu_item_href {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.menu_item_href i {
  font-size: 25px;
  color: #fff;
}
@media (max-width: 1700px) {
  .menu_item_href i {
    font-size: 30px;
  }
}
.menu_item_href p {
  font-weight: 25px;
  margin-left: 10px;
  font-weight: bold;
}
@media (max-width: 1700px) {
  .menu_item_href p {
    display: none;
  }
}
@media (max-width: 1700px) {
  .menu_item_href {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

.sidebar_user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 15px 10px;
  margin: 30px 0;
}
@media (max-width: 1700px) {
  .sidebar_user {
    padding: 0;
  }
}
.sidebar_user i {
  font-size: 35px;
}

.sidebar_user_avatar {
  width: 60px;
  height: 60px;
  border-radius: 30%;
  overflow: hidden;
}
.sidebar_user_avatar img {
  display: block;
  width: 100%;
}
@media (max-width: 1700px) {
  .sidebar_user_avatar {
    display: none;
  }
}

.sidebar_user_desc {
  width: 40%;
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 1700px) {
  .sidebar_user_desc {
    display: none;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 100%;
}
@media (max-width: 1800px) {
  .aside {
    width: 400px;
  }
}
@media (max-width: 1500px) {
  .aside {
    width: 90%;
    margin: 20px auto;
  }
}
@media (max-width: 400px) {
  .aside {
    width: 80%;
    margin: 30px auto;
  }
}

.aside_top {
  max-height: 450px;
  padding: 20px 15px;
  background: #272727;
  border-radius: 10px;
}

.aside_categories {
  max-height: 400px;
  margin-top: 10px;
  border-radius: 10px;
}

.aside_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside_checkout {
  display: flex;
  justify-content: space-between;
  height: 35px;
  padding: 5px;
}
.aside_checkout .btn_check {
  margin-left: 10px;
}

.aside_checkout {
  background: #49504d;
  border-radius: 4px;
}

.aside_body {
  margin: 20px 0;
}

.aside_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-top: 15px;
  border-top: 1px solid #959d99;
  margin-bottom: 25px;
}
.aside_item:first-child {
  border-top: none;
}
.aside_item_preview {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  overflow: hidden;
}
.aside_item_preview img {
  display: block;
  width: 100%;
}
.aside_item_desc span {
  color: #959d99;
}
@media (max-width: 1500px) {
  .aside_item_desc {
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .aside_item_desc {
    display: block;
    width: 150px;
  }
}

.aside_categories {
  padding: 20px;
}
.aside_categories_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside_categories_header p {
  font-weight: bold;
  font-size: 22px;
}

.aside_categories_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
@media (max-width: 400px) {
  .aside_categories_body {
    width: 100%;
  }
}

.category_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 190px;
  height: 80px;
  margin-bottom: 10px;
}
.category_item img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 1;
}
.category_item p {
  font-weight: bold;
  font-size: 22px;
  z-index: 2;
}
@media (max-width: 500px) {
  .category_item {
    width: 100%;
    height: 165px;
    margin: 20px 0;
  }
}
@media (max-width: 400px) {
  .category_item {
    margin: 5px 0;
    height: 120px;
  }
}

.container {
  width: 950px;
  margin: 0 50px 0 0;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1800px) {
  .container {
    margin: 20px 20px 0;
  }
}
@media (max-width: 1500px) {
  .container {
    width: 90%;
    margin: 20px auto;
  }
}
@media (max-width: 400px) {
  .container {
    width: 80%;
    margin: 0 auto 0;
  }
}

.btn_check {
  border-radius: 2px;
  padding: 0 10px;
  transition: background 0.4s;
}
.btn_check:hover {
  background: #f3777d;
}
.btn_check--active {
  background: #ee4950;
}
.btn_check--active:hover {
  background: #ee4950;
}

.like_btn--active {
  color: #ee4950;
}

.btn_container--center {
  text-align: center;
}
.btn_container--right {
  text-align: right;
}

.btn--more {
  color: #ee4950;
}
.btn--primery {
  background: #ee4950;
  padding: 10px 15px;
  border-radius: 3px;
  width: 125px;
  height: 45px;
}

section {
  margin: 30px auto 75px;
}
@media (max-width: 400px) {
  section {
    margin: 30px auto;
  }
}

.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.section_header p {
  font-weight: bold;
  font-size: 22px;
}

.hover_heart {
  transition: all 0.4s;
}
.hover_heart:hover {
  -webkit-animation: tada 1.5s ease infinite;
  animation: tada 1.5s ease infinite;
  color: #f3777d;
}

.input--normal {
  width: 100%;
  max-width: 550px;
  background: #49504d;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin: 10px 0;
}

.center {
  text-align: center;
}

.footer {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #272727;
  overflow: hidden;
  border-top: 1px solid #ee4950;
  transition: all 0.5s;
  transform: translateY(75px);
}
@media (max-width: 1500px) {
  .footer {
    position: fixed;
  }
}

.footer--active {
  transform: translateY(0);
}

.footer_inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin-left: 288px;
  height: 100%;
}
@media (max-width: 1200px) {
  .footer_inner {
    width: 100%;
    margin-left: 50px;
  }
}

.footer_inner_audio_avatar {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 100px;
}
.footer_inner_audio_avatar img {
  display: block;
  width: 100%;
}

.footer_inner_btns button i {
  font-size: 30px;
}

.play_btn {
  background: #fff;
  border-radius: 50%;
  padding: 10px;
}
.play_btn i {
  color: #000;
}

.footer_inner_audio {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer_inner_audio {
    display: none;
  }
}

.footer_inner_audio_desc_audio {
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

.footer_inner_audio_desc_audio {
  margin-bottom: 10px;
}
.footer_inner_audio_desc_audio p {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}
.footer_inner_audio_desc_audio span {
  color: #959d99;
  margin-left: 20px;
}

.footer_inner_audio_desc_play {
  display: flex;
  align-items: center;
  width: 100%;
}
.footer_inner_audio_desc_play .play {
  min-width: 500px;
  width: 500px;
  height: 8px;
  background: #fff;
  border-radius: 10px;
  margin: 5px 20px;
}
.footer_inner_audio_desc_play .play div {
  width: 76%;
  height: 8px;
  background: #f3777d;
  border-radius: 10px;
}

.footer_inner_methods {
  margin-left: auto;
  padding-left: 30px;
  border-left: 1px solid #959d99;
}
.footer_inner_methods .btn {
  margin: 0 15px;
}

.tablet_a {
  display: none;
}
@media (max-width: 1200px) {
  .tablet_a {
    display: flex;
    margin: 0 auto;
  }
}

.main_screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
}
.main_screen img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
.main_screen h2 {
  position: absolute;
  width: 600px;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  z-index: 12;
  letter-spacing: 8px;
}
@media (max-width: 800px) {
  .main_screen {
    max-height: 250px;
  }
}
@media (max-width: 400px) {
  .main_screen {
    display: none;
  }
}

.main_screen_desc {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  text-align: right;
}
.main_screen_desc .btn_container {
  display: flex;
  align-items: center;
}
.main_screen_desc .btn_container button {
  margin: 0 20px;
}
.main_screen_desc .btn_container button i {
  font-size: 30px;
}
.main_screen_desc .btn_container button:last-child {
  margin: 0 0 0 20px;
}

.main_screen_desc_group {
  color: rgba(255, 255, 255, 0.75);
  font-size: 25px;
  letter-spacing: 3px;
}

.main_screen_desc_name {
  font-size: 25px;
  letter-spacing: 8px;
  font-weight: bold;
  margin: 25px 0;
}

.shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.25);
}

.releases_inner {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: start;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 30px;
}
.releases_inner::-webkit-scrollbar {
  height: 7px;
  background: #49504d;
  border-radius: 5px;
}
.releases_inner::-webkit-scrollbar-thumb {
  background: #ee4950;
  border-radius: 5px;
}

.releases_item {
  margin: 0 7px;
}
.releases_item_preview {
  width: 170px;
  height: 170px;
}
.releases_item_preview img {
  display: block;
  width: 100%;
}
.releases_item_albom {
  margin: 10px 0 3px;
  font-weight: bold;
}
.releases_item_group {
  color: #959d99;
}
.releases_item:first-child {
  margin: 0 7px 0 0;
}
.releases_item:last-child {
  margin: 0;
}

.stories_block_inner {
  display: flex;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
}
.stories_block_inner::-webkit-scrollbar {
  height: 7px;
  background: #49504d;
  border-radius: 5px;
}
.stories_block_inner::-webkit-scrollbar-thumb {
  background: #ee4950;
  border-radius: 5px;
}

.stories_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #f3777d;
  cursor: pointer;
}
.stories_avatar img {
  width: 100%;
}

.stories {
  text-align: center;
  margin: 0 20px;
  width: 100px;
}
.stories_avatar {
  text-align: center;
}
.stories_avatar img {
  width: 100%;
}
.stories_title {
  margin: 20px 0 5px;
}
.stories_username {
  color: #959d99;
}

.played_inner {
  width: 100%;
  margin: 30px 0 0;
}

.song {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #959d99;
}
.song span {
  font-size: 12px;
  color: #959d99;
  margin: 0 15px;
}
.song_avatar {
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 40px;
}
.song_avatar img {
  width: 100%;
  z-index: 2;
}
.song_avatar:hover .song_avatar_mask {
  opacity: 1;
}
.song_avatar_mask {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: all 0.3s;
  opacity: 0;
}
.song_avatar_mask button i {
  font-size: 40px;
}
.song_body {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.song_body_name {
  font-weight: bold;
  width: 250px;
}
.song_body_autor, .song_body_time {
  color: #959d99;
  width: 100px;
}
.song_body_btns button {
  margin-left: 20px;
}
.song_body_btns button:first-child {
  margin-left: 0;
}
.song_body_btns button i {
  font-size: 20px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login {
  width: 400px;
  height: 400px;
  background: #272727;
  padding: 20px;
  border-radius: 10px;
}

.login_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.massenger {
  width: 100%;
  height: 100%;
  background: #272727;
  border-radius: 10px;
}

.messager_inner {
  display: flex;
  height: 100%;
}

.message_list {
  width: 40%;
  height: 100%;
  border-right: 3px solid #171717;
  overflow: hidden;
}

.message_list_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-bottom: 3px solid #171717;
  padding: 0 20px;
}
.message_list_header_search {
  display: flex;
  width: 40%;
}
.message_list_header_search i {
  margin-right: 10px;
  font-size: 25px;
}
.message_list_header button i {
  font-size: 25px;
}

.message_ul {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  overflow-y: auto;
}
.message_ul::-webkit-scrollbar {
  width: 5px;
  background: #49504d;
  border-radius: 5px;
}
.message_ul::-webkit-scrollbar-thumb {
  background: #ee4950;
  border-radius: 5px;
}

.message_ul_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #49504d;
  padding-bottom: 10px;
  margin-top: 5px;
  border-radius: 10px;
  transition: all 0.4s;
  padding: 5px;
  cursor: pointer;
}
.message_ul_item_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.message_ul_item_avatar img {
  width: 100%;
}
.message_ul_item_desc {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message_ul_item_desc p {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 5px;
}
.message_ul_item_desc span {
  color: #959d99;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message_ul_item_info {
  height: 100%;
}
.message_ul_item_info p {
  color: #959d99;
}
.message_ul_item:hover {
  background: #49504d;
}

.message_content {
  width: 100%;
}
.message_content_inner {
  height: 100%;
}
.message_content--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.message_content--empty i {
  font-size: 150px;
  color: #959d99;
}
.message_content--empty p {
  font-weight: bold;
  color: #959d99;
}/*# sourceMappingURL=main.css.map */