$main: #171717;
$secondary: #272727;
$lighten: #49504D;
$contrast: #EE4950;
$helper: #F3777D;
$gray: #959D99;
$white: #fff;

$full: 1900px;
$hd: 1800px;
$bg: 1700px;
$screen: 1400px;
$tablet: 800px;
$mobile: 400px;

.screen {
  display: flex;
  position: relative;
  max-width: 1900px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 1500px) {
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.main {
  margin: 20px 50px 0;

  &--content {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 1500px) {
      display: block;
    }
  }

  @media (max-width: $hd) {
    margin: 20px 20px 0;
  }
}

@import './reset';
@import './sidebar';
@import './aside';
@import './vars';
@import './footer';
@import './home';
@import './login';